fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg[binary]
pydantic-settings
python-dotenv
python-jose[cryptography]
apscheduler
python-multipart
email-validator
pytest
httpx   
bcrypt==4.1.3
passlib[bcrypt]==1.7.4